<div class="control-group error">

    <div class="form-group floating-label-form-group controls mb-0 pb-2">

        <label>Username</label>
        <input class="form-control" id="username" type="tel" placeholder="Username">
        <p class="help-block text-danger"></p>
        <ul role="alert">
            <li>Please enter your username.</li>
        </ul>
        <p></p>
    </div>
</div>
<div class="control-group error">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Password</label>
        <input class="form-control" id="password" type="password" placeholder="Password">
        <p class="help-block text-danger"></p>
        <ul role="alert">
            <li>Please enter your password.</li>
        </ul>
        <p></p>
    </div>
</div>
<br>
<div id="success"></div>
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-xl" id="loginButton">Send</button>

</div>