<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Username</label>
        <input class="form-control" id="register-username" type="tel" placeholder="Desired Username" required="required" data-validation-required-message="Please enter your phone number.">
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Desired Password</label>
        <input class="form-control" id="register-password" type="password" placeholder="Desired Password" required="required" data-validation-required-message="Please enter a message."></input>
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>First Name</label>
        <input class="form-control" id="first-name" type="text" placeholder="First Name" required="required" data-validation-required-message="Please enter your name.">
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Last Name</label>
        <input class="form-control" id="last-name" type="text" placeholder="Last Name" required="required" data-validation-required-message="Please enter your name.">
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="control-group">
    <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>Email Address</label>
        <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
        <p class="help-block text-danger"></p>
    </div>
</div>
<br>
<div id="success"></div>
<div class="form-group">
    <button type="submit" class="btn btn-primary btn-xl" id="register-account">Send</button>
</div>