<div id="registration-look">
    <form>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">

                <label>Amount</label>
                <input class="form-control" id="reimb-amount" type="tel" placeholder="Reimbursement Amount" required="required" data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <select id="reimb-type" name="typelist">
                    <option value="1">Relocation</option>
                    <option value="2">Training</option>
                    <option value="3">Travel</option>
                    <option value="4">Miscellaneous</option>
                </select>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>

        <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Description</label>
                <textarea id="description" rows="4" cols="50">Description</textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="submit-reimb">Send</button>
            <button type="button" class="btn btn-primary btn-xl" id="return-btn" onClick="loadDashboard()">Return to Home</button>
        </div>
    </form>
</div>