<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>dev</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DenialServlet</display-name>
    <servlet-name>DenialServlet</servlet-name>
    <servlet-class>com.revature.servlets.DenialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenialServlet</servlet-name>
    <url-pattern>/DenialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashMoneyServlet</display-name>
    <servlet-name>CashMoneyServlet</servlet-name>
    <servlet-class>com.revature.servlets.CashMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashMoneyServlet</servlet-name>
    <url-pattern>/CashMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>com.revature.servlets.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
</web-app>